{{!-- Landing is for about, learn more, and login and register (when not signed in) --}}

{{> head }}
<link rel="stylesheet" href="/resources/css/styles.css" />
{{> landing_nav }}

<main class="container-fluid px-4 py-5">
  {{{ body }}}
</main>

{{> footer }}

{{{ _sections.scripts }}}