<div class="d-flex align-items-center mb-3">
  <img src="{{user.profile_picture_url}}" class="rounded-circle me-2" width="40" height="40" alt="Profile Picture">
  <h5 class="mb-0">{{user.display_name}}</h5>
</div>
