<!-- views/partials/chat_header.hbs -->
<div class="p-3 border mb-3">
  {{#if user}}
    <h5 class="mb-0">Chat with: {{user.username}}</h5>
  {{else}}
    <h5 class="mb-0">Select a friend to chat</h5>
  {{/if}}
</div>
