<!-- footer.hbs -->
<footer class="text-center mt-auto py-3">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <p class="primary-text font-alt fw-semibold mb-0">&copy; 2025 | LuckyMoment</p>
</footer>
</body>
</html>