body {
    background-color: #fefbf4; /* Beige background */
    font-family: 'Poppins', sans-serif;
    display: flex;
  }

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif
}

@font-face {
    font-family: 'Lalezar';
    src: url('../fonts/Lalezar-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* ::placeholder {
    color: #FF9169 !important;
    opacity: 1;
} */

.green-text {
    color: #00643E;
}

.orange-text {
    color: #FF9169;
}

.bold-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 5000; /* Bold */
}

.welcome-text {
    font-family: 'Lalezar', sans-serif !important;
    font-size: 3rem !important;
}

.container {
    margin: 50px auto;
}

.body {
    position: relative;
    width: 720px;
    height: 440px;
    margin: 20px auto;
    border: 1px solid #dddd;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* .box-1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

.box-2 {
    padding: 10px;
}

.box-1 p {
    font-family: 'Lalezar', sans-serif !important;
}


.box-1,
.box-2 {
    width: 50%;
}

.h-1 {
    font-size: 24px;
    font-weight: 700;
    font-family: 'Lalezar', sans-serif;
}

.text-muted {
    font-size: 14px;
}

.container .box {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid transparent;
    text-decoration: none;
    color: #615f5fdd;
}

.box:active,
.box:visited {
    border: 2px solid #ee82ee;
}

.box:hover {
    border: 2px solid #ee82ee;
}

.btn.btn-primary {
    background-color: #FF9169;
    /* color: #ee82ee; */
    border: 3px;
    /* padding: 0;
    font-size: 14px; */
}

.btn.btn-primary .fas.fa-chevron-right {
    font-size: 12px;
}

.footer .p-color {
    color: #ee82ee;
}

.footer.text-muted {
    font-size: 10px;
}

.fas.fa-times {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 20px;
    width: 20px;
    background-color: #f3cff379;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fas.fa-times:hover {
    color: #ff0000;
}

@media (max-width:767px) {
    body {
        padding: 10px;
    }

    .body {
        width: 100%;
        height: 100%;
    }

    .box-1 {
        width: 100%;
    }

    .box-2 {
        width: 100%;
        height: 440px;
    }
}