
{{jsonParse 'blogs' blogs_string}}
{{#section 'scripts'}}
<!-- Bootstrap JS bundle -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
{{/section}}
<script src="/resources/js/blogs/blogScript.js"></script>

    <div id = "blog-container"></div> {{! -- blog container -- }}
{{#if blogs}}
    <script>
        populateBlogs({{{blogs_string}}}); //blog population using an external javascript.
    </script>
{{else}}
    <script>
        document.getElementById('blog-container').innerHTML = '<p class="text-muted"><em>No blogs available.</em></p>';
    </script>
{{/if}}