<div class="container text-center py-5 min-vh-100">
 {{> message }}

  <h1 class="fw-bold mb-5 fw-bold">
    Discover Something New!
  </h1> 

  <div class="d-flex justify-content-center gap-4 flex-wrap">
    <a href="/explore/activities" class="btn-primary tile bg-pink text-white ">
      Different<br/>Activities
    </a>
    <a href="/explore/restaurants" class="btn-primary tile bg-orange text-white" id="restaurants-btn" >
      
      Restaurants
    </a>

    <a href="/explore/music" class="btn-primary tile bg-blue text-white">
      Music
    </a>
  </div>
</div>

