<div class="container text-center py-5 min-vh-100">
  <h1 class="fw-bold green-text mb-5 font-heading">
    Discover Something New!
  </h1>

  <div class="d-flex justify-content-center gap-4 flex-wrap">
    <a href="/explore/activities" class="explore-tile bg-pink text-white">
      Different<br/>Activities
    </a>

    <a href="/explore/restaurants" class="explore-tile bg-orange text-white">
      Restaurants
    </a>

    <a href="/explore/music" class="explore-tile bg-blue text-white">
      Music
    </a>
  </div>
</div>

