{{> head }}
{{> nav }}

<main class="container text-center my-5">
  <h2 class="mb-5">Discover something new</h2>
  <div class="d-flex justify-content-center gap-5 flex-wrap">
    <a href="/explore/activities" class="btn btn-light border p-5" style="width: 200px; height: 200px;">
      <div class="d-flex justify-content-center align-items-center h-100">
        <span>Different Activities</span>
      </div>
    </a>
    <a href="/explore/restaurants" class="btn btn-light border p-5" style="width: 200px; height: 200px;">
      <div class="d-flex justify-content-center align-items-center h-100">
        <span>restaurants, etc.</span>
      </div>
    </a>
    <a href="/explore/music" class="btn btn-light border p-5" style="width: 200px; height: 200px;">
      <div class="d-flex justify-content-center align-items-center h-100">
        <span>music</span>
      </div>
    </a>
  </div>
</main>

{{> footer }}