<!-- public/get-location.html -->
<!DOCTYPE html>
<html>
<head>
  <title>Getting Location...</title>
  <script>
  </script>
</head>
<body>
  <p>Getting your location...</p>
  <p>Your location: {{lat}} {{lon}} </p>
</body>
</html>
