<link rel="stylesheet" href="/resources/css/settings.css">

{{#section "scripts"}}
  <script src="/resources/js/settings/settingsScript.js"></script>
{{/section}}

<div>
  <h1 class="mb-5">Settings</h1>

  {{!-- Account --}}
  <div class="dropdown mb-3">
    <button id="account" class="btn  dropdown-button">Account</button>
    <div id="accountDropdown" class="dropdown-content">
      <a>
        <form action="/settings/account" method="post">
          <div class="mb-3">
            <label class="form-label">Username : {{user.username}}</label>
            <input type="text" name="newUsername" class="form-control" placeholder="Enter New Username">
          </div>

          <div class="mb-3">
            <label class="form-label">Change Password</label>
            <input type="password" name="newPassword" class="form-control" placeholder="Enter New Password">
          </div>

          <div class="mb-3">
            <label class="form-label">Confirm New Password</label>
            <input type="password" name="passwordCheck" class="form-control" placeholder="Confirm New Password">
          </div>

          <div class="mb-3">
            <label class="form-label"><strong>Enter password to confirm changes.</strong></label>
            <input type="password" name="password" class="form-control" placeholder="Enter Password" required>
          </div>

          <button type="submit" class="btn btn-primary">Save Changes</button>
        </form>
      </a>
    </div>
  </div>

  {{!-- Privacy --}}
  <div class="dropdown mb-3">
    <button id="privacy" class="btn  dropdown-button">Privacy</button>
    <div id="privacyDropdown" class="dropdown-content">
      <a>
        <form action="/settings/privacy" method="post">
          <div class="d-flex mb-3">
            <label class="form-label me-2">Public Friends</label>
            <input id="public_friends_checkbox" name="public_friends" value="1" type="checkbox" class="form-check-input" {{#if settings.public_friends}}checked{{/if}}>
          </div>
          <button type="submit" class="btn btn-primary">Save Changes</button>
        </form>
      </a>
    </div>
  </div>

  {{!-- Notifications --}}
  {{!-- <div class="dropdown mb-3">
    <button id="notif" class="btn  dropdown-button">Notifications</button>
    <div id="notifDropdown" class="dropdown-content">
      <a>
        <form action="/settings/notifications" method="post">
          <div class="d-flex align-items-center mb-3">
            <label class="form-label me-2">Message Notifications</label>
            <input id="message_notif_checkbox" name="messageNotifs" value="1" type="checkbox" class="form-check-input" checked = {{settings.messageNotifs}}>
          </div>
          <div class="d-flex align-items-center mb-3">
            <label class="form-label me-2">Match Notifications</label>
            <input id="match_notif_checkbox" name="matchNotifs" value="1" type="checkbox" class="form-check-input" checked = {{settings.matchNotifs}}>
          </div>
          <button type="submit" class="btn btn-primary">Save Changes</button>
        </form>
      </a>
    </div>
  </div> --}}

  {{!-- Security --}}
  {{!-- <div class="dropdown mb-3">
    <button id="security" class="btn  dropdown-button">Security</button>
    <div id="securityDropdown" class="dropdown-content">
      <a>
        <form action="/settings/security" method="post">
          <button type="submit" class="btn btn-primary">Save Changes</button>
        </form>
      </a>
    </div>
  </div> --}}

  {{!-- Chat and Messaging --}}
  {{!-- <div class="dropdown mb-3">
    <button id="chat" class="btn  dropdown-button">Chat and Messaging</button>
    <div id="chatDropdown" class="dropdown-content">
      <a>
        <form action="/settings/chat" method="post">
          <button type="submit" class="btn btn-primary">Save Changes</button>
        </form>
      </a>
    </div>
  </div> --}}

  {{!-- Appearance and Display --}}
  {{!-- <div class="dropdown mb-3">
    <button id="apperance" class="btn  dropdown-button">Appearance and Display</button>
    <div id="apperanceDropdown" class="dropdown-content">
      <a>
        <form id="apperanceForm" action="/settings/apperance" method="post">
          <label class="form-label">Page Appearance</label>
          <select name="mode" class="form-select" id="mode_select" value = "{{settings.mode}}">
            <option value="light">Light Mode</option>
            <option value="dark">Dark Mode</option>
          </select>
          <button type="submit" class="btn  mt-3btn-primary">Save Changes</button>
        </form>
      </a>
    </div>
  </div> --}}

</div>
