html, body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
  }
  
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  
  .container-fluid.px-0.mx-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  
  .row.gx-0 {
    --bs-gutter-x: 0;
  }
  